<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>商品分类列表</title>
	<!-- title -->
	<% include ../public/page_title.html%>
	<style>
		h4{
			font-weight: bold;
		}
		.layui-table-cell{
			height:auto;
		}
	</style>
</head>
<body class="main_body">
	<blockquote class="layui-elem-quote news_search">
		<div class="layui-inline">
			<a href="<%=adminName%>/goods/add" class="layui-btn layui-btn-normal newsAdd_btn">添加商品</a>
		</div>
	</blockquote>
	<div style="padding:0 10px ;">
		<div class="layui-form news_list">
			<table id="table"></table>
		</div>
	</div>
	<script type="text/html" id="btnTpl">
		<a href="<%=adminName%>/goods/edit?id={{d._id}}"  class="layui-btn layui-btn-sm" data-id='{{d._id}}'>编辑</a>
		<button class="layui-btn layui-btn-danger layui-btn-sm delete-btn" data-id='{{d._id}}'>删除</button>
	</script>
	<script type="text/html" id="shelfTpl">
		<input lay-filter="is_shelf" type="checkbox" name='is_shelf' data-id="{{d._id}}" {{d.is_shelf==1?'checked':''}} lay-text="是|否" lay-skin="switch">
	</script>
	<script type="text/html" id="typeTpl">
		<input lay-filter="status" type="checkbox" name='status' data-id="{{d._id}}" {{d.status==1?'checked':''}} lay-text="显示|隐藏" lay-skin="switch">
	</script>
	<script type="text/html" id="bestTpl">
		<input lay-filter="is_best" type="checkbox" name='is_best' data-id="{{d._id}}" {{d.is_best==1?'checked':''}} lay-text="是|否" lay-skin="switch">
	</script>
	<script type="text/html" id="hotTpl">
		<input lay-filter="is_hot" type="checkbox" name='is_hot' data-id="{{d._id}}" {{d.is_hot==1?'checked':''}} lay-text="是|否" lay-skin="switch">
	</script>
	<script type="text/html" id="newTpl">
		<input lay-filter="is_new" type="checkbox" name='is_new' data-id="{{d._id}}" {{d.is_new==1?'checked':''}} lay-text="是|否" lay-skin="switch">
	</script>
	<script type="text/html" id="numberTpl">
		<input style='width:70px;height:26px;' type="text" value="{{d.goods_number}}"  data-id="{{d._id}}" placeholder="请输入" autocomplete="on" class="layui-input goods-number-btn">
	</script>
	<script type="text/html" id="sortTpl">
		<input style='width:50px;height:26px;' type="text" value="{{d.sort}}"  data-id="{{d._id}}" placeholder="请输入" autocomplete="on" class="layui-input change-btn">
	</script>
	<script type="text/html" id="imgTpl">
		{{#  if(d.goods_img){ }}
		<img width='60' src='{{d.goods_img}}' class='img'/>
		{{#  } }}
	</script>
	<script type="text/javascript" src="/public/admin/layui/layui.js"></script>
	<script type="text/javascript" src="/public/admin/js/index.js"></script>
	<script type="text/javascript" src="/public/admin/js/util.js"></script>
	<script>
		layui.use(['form','layer','jquery','table'],function(){
			var form = layui.form,
				layer =layui.layer,
				table = layui.table,
				$ = layui.jquery;

			var renderTable = function () {
				table.render({
					elem: '#table',
					height: 'full-100',
					method:'post',
					url:'<%=adminName%>/goods?_csrf=<%=csrf%>', //数据接口
					cols: [[ //表头
						{type:'checkbox'},
						{field: 'goods_img', align:'center', width: 110, title: '商品图片',templet:'#imgTpl'},
						{field: 'title', align:'center', title: '商品名称'},
						{field: '_id', align:'center', title: '商品ID'},
						// {field: '', align:'center', title: '货号'},
						{field: 'shop_price', align:'center',width: 100, title: '价格'},
						{field: 'click_count', align:'center', width: 100,title: '点击量'},
						{field: 'is_delete', align:'center',width: 80, title: '上架', templet:'#shelfTpl'},
						{field: 'is_best', align:'center', width: 80,title: '精品',templet:'#bestTpl'},
						{field: 'is_new', align:'center',width: 80, title: '新品',templet:'#newTpl'},
						{field: 'is_hot', align:'center',width: 80, title: '热销',templet:'#hotTpl'},
						{field: 'status', align:'center', width: 110, title: '状态',templet:'#typeTpl'},
						{field: 'sort', align:'center',width: 80, title: '排序',templet:'#sortTpl'},
						{field: 'goods_number', align:'center',width: 100, title: '库存',templet:'#numberTpl'},
						{field: '', title: '操作',align:'center', width: 150,templet:'#btnTpl'},
					]],
					limit:10,
					limits:[10,20,50,100],
					page: true, //开启分页
					done: function () {
						//删除操作
						$('.delete-btn').on('click',function(){
							var id = $(this).attr('data-id');
							// alert(id);
							layer.confirm('是否删除该商品？',{
								title:'警告',
								content:'是否删除该商品？',
								btn: ['确认', '取消'], //可以无限个按钮
							}, function(index, layero){
								var url = '<%=adminName%>/goods/change';
								// var params = {
								// 	model:'Goods',
								// 	id:id
								// }
								var params = {
									model:'Goods',
									attr:'is_delete',
									value:1,
									id:id
								}
								//删除
								reqAjax.delete('get', url, params, "<%=adminName%>/goods",false,'删除成功');

							}, function(index){console.log('取消删除')});
						})
						//修改排序
						$('.change-btn').on('blur',function(){
							var id = $(this).attr('data-id');
							var val = $(this).val();
							if(val==''){
								layer.msg('请输入排序');
								$(this).focus();
								return;
							}else if(isNaN(val)){
								layer.msg('不是数字');
								$(this).focus();
								return;
							}
							var url = '<%=adminName%>/goods/change';
							var params = {
								model:'Goods',
								attr:'sort',
								value:val,
								id:id
							}
							//改变
							reqAjax.change('get', url, params)
						})
						//修改排序
						$('.goods-number-btn').on('blur',function(){
							var id = $(this).attr('data-id');
							var val = $(this).val();
							if(val==''){
								layer.msg('请输入库存');
								$(this).focus();
								return;
							}else if(isNaN(val)){
								layer.msg('不是数字');
								$(this).focus();
								return;
							}
							var url = '<%=adminName%>/goods/change';
							var params = {
								model:'Goods',
								attr:'goods_number',
								value:val,
								id:id
							}
							//改变
							reqAjax.change('get', url, params)
						})
						//状态改变
						form.on('switch(status)', function(data){
							var id = $(this).attr('data-id');
							var val = this.checked;
							if(val){val=1}else{val=0}
							var url = '<%=adminName%>/goods/change';
							var params = {
								model:'Goods',
								attr:'status',
								value:val,
								id:id
							}
							//改变
							reqAjax.change('get', url, params)
						});
						//上架改变
						form.on('switch(is_shelf)', function(data){
							var id = $(this).attr('data-id');
							var val = this.checked;
							if(val){val=1}else{val=0}
							var url = '<%=adminName%>/goods/change';
							var params = {
								model:'Goods',
								attr:'is_shelf',
								value:val,
								id:id
							}
							//改变
							reqAjax.change('get', url, params)
						});
						//精品改变
						form.on('switch(is_best)', function(data){
							var id = $(this).attr('data-id');
							var val = this.checked;
							if(val){val=1}else{val=0}
							var url = '<%=adminName%>/goods/change';
							var params = {
								model:'Goods',
								attr:'is_best',
								value:val,
								id:id
							}
							//改变
							reqAjax.change('get', url, params)
						});
						//新品改变
						form.on('switch(is_new)', function(data){
							var id = $(this).attr('data-id');
							var val = this.checked;
							if(val){val=1}else{val=0}
							var url = '<%=adminName%>/goods/change';
							var params = {
								model:'Goods',
								attr:'is_new',
								value:val,
								id:id
							}
							//改变
							reqAjax.change('get', url, params)
						});
						//热销改变
						form.on('switch(is_hot)', function(data){
							var id = $(this).attr('data-id');
							var val = this.checked;
							if(val){val=1}else{val=0}
							var url = '<%=adminName%>/goods/change';
							var params = {
								model:'Goods',
								attr:'is_hot',
								value:val,
								id:id
							}
							//改变
							reqAjax.change('get', url, params)
						});
						$('.img').on('click',function(){
							var src = $(this).attr('src');
							layer.open({
								area: '400px',
								title: '图片预览',
								content: '<img src="'+src+'" width="100%">',
							}); 
						})
					}
				});
			};
			renderTable()
		})

	</script>
</body>
</html>
