<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>权限列表</title>
	<!-- title -->
	<% include ../public/page_title.html%>
	<link rel="stylesheet" href="/public/admin/module/treetable-lay/treetable.css">
	<style>
		.layui-table td, .layui-table th{
			padding:4px 15px;
		}
		.layui-input.change-btn{
			height:28px;
		}
	</style>
</head>
<body class="main_body">
	<blockquote class="layui-elem-quote news_search">
		<!-- <div class="layui-inline">
			<div class="layui-input-inline">
				<input type="text" value="" placeholder="请输入关键字" class="layui-input search_input">
			</div>
			<a class="layui-btn search_btn">查询</a>
		</div> -->
		<div class="layui-inline">
			<a href="<%=adminName%>/access/add" class="layui-btn layui-btn-normal newsAdd_btn">增加权限</a>
		</div>
	</blockquote>
	<div class="layui-form news_list">
		<!-- <table id="table"></table> -->
		<div style="padding:0 10px ;">
			<table id="table" class="layui-table" lay-filter="table"></table>
		</div>
	</div>
	<script type="text/html" id="btnTpl">
		<a href="<%=adminName%>/access/edit?id={{d._id}}"  class="layui-btn layui-btn-sm" data-id='{{d._id}}'>编辑</a>
		<button class="layui-btn layui-btn-danger layui-btn-sm delete-btn" data-id='{{d._id}}'>删除</button>
	</script>
	<script type="text/html" id="switchTpl">
		<input lay-filter="switchTest" type="checkbox" name='status' data-id="{{d._id}}" {{d.status==1?'checked':''}} lay-text="显示|隐藏" name="switch" lay-skin="switch">
	</script>
	<script type="text/html" id="typeTpl">
		{{d.type==1?'<button class="layui-btn layui-btn-sm">模块</button>':d.type==2?'<button class="layui-btn layui-btn-normal layui-btn-sm">菜单</button>':'<button class="layui-btn layui-btn-danger layui-btn-sm">操作</button>'}}
	</script>
	<script type="text/html" id="sortTpl">
		<input style='width:50px;' type="text" value="{{d.sort}}"  data-id="{{d._id}}" placeholder="请输入" autocomplete="on" class="layui-input change-btn">
	</script>
	<script type="text/html" id="iconTpl">
		<i class="layui-icon {{d.icon}}"></i>
	</script>
	<script type="text/javascript" src="/public/admin/layui/layui.js"></script>
	<script type="text/javascript" src="/public/admin/js/index.js"></script>
	<script type="text/javascript" src="/public/admin/js/util.js"></script>
	<script>
		layui.config({
			base:'/public/admin/module/'
		}).extend({
        	treetable: 'treetable-lay/treetable'
    	}).use(['form','layer','jquery','table', 'treetable'],function(){
			var form = layui.form,
				layer =layui.layer,
				table = layui.table,
				treetable = layui.treetable,
				$ = layui.jquery;
			var treeResult = JSON.parse('<%-list%>');
			var renderTable = function () {
				treetable.render({
					treeColIndex: 1,
					treeSpid: "0",
					height: 'full-100',
					treeIdName: '_id',
					treePidName: 'module_id',
					treeDefaultClose: false,
					treeLinkage: true,
					elem: '#table',
					data: treeResult,
					limits:[1000],
					page: false,
					cols: [[
						{type: 'numbers'},
						{field: 'module_name', title: '模块名称',width: 200,},
						{field: 'type', title: '模块', align:'center', templet:'#typeTpl',width:100,},
						{field: 'icon', title: '图标',templet:'#iconTpl',align:'center',width:80,},
						{field: 'url', title: '操作地址', align:'center',},
						{field: 'action_name', title: '操作名称'},
						{field: 'sort', title: '排序', align:'center', templet:'#sortTpl', width: 80,},
						{field: 'status', align:'center', title: '状态', width: 95, templet:'#switchTpl'},
						{field: '', fixed:'right', title: '操作', align:'center', templet:'#btnTpl', width: 150,}
					]],
					done: function () {
						//删除操作
						$('.delete-btn').on('click',function(){
							var id = $(this).attr('data-id');
							// alert(id);
							layer.confirm('是否删除该权限？',{
								title:'警告',
								content:'是否删除该权限？',
								btn: ['确认', '取消'], //可以无限个按钮
							}, function(index, layero){
								var url = '<%=adminName%>/access/delete';
								var params = {
									model:'Access',
									id:id
								}
								//删除
								reqAjax.delete('get', url, params, "<%=adminName%>/access");

							}, function(index){console.log('取消删除')});
						})
						//修改排序
						$('.change-btn').on('blur',function(){
							var id = $(this).attr('data-id');
							var val = $(this).val();
							if(val==''){
								layer.msg('请输入排序');
								$(this).focus();
								return;
							}else if(isNaN(val)){
								layer.msg('不是数字');
								$(this).focus();
								return;
							}
							var url = '<%=adminName%>/access/change';
							var params = {
								model:'Access',
								attr:'sort',
								value:val,
								id:id
							}
							//改变
							reqAjax.change('get', url, params)
						})
						//状态改变
						form.on('switch(switchTest)', function(data){
							var id = $(this).attr('data-id');
							var val = this.checked;
							if(val){val=1}else{val=0}
							var url = '<%=adminName%>/access/change';
							var params = {
								model:'Access',
								attr:'status',
								value:val,
								id:id
							}
							//改变
							reqAjax.change('get', url, params)
						});
					}
				});
			};
			renderTable()
		})
	</script>
</body>
</html>
