<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>权限列表</title>
	<!-- title -->
    <% include ../public/page_title.html%>
	<style>
		.layui-table td, .layui-table th{
			padding:4px 15px;
		}
	</style>
</head>
<body class="main_body">
	<blockquote class="layui-elem-quote news_search">
		<!-- <div class="layui-inline">
			<div class="layui-input-inline">
				<input type="text" value="" placeholder="请输入关键字" class="layui-input search_input">
			</div>
			<a class="layui-btn search_btn">查询</a>
		</div> -->
		<div class="layui-inline">
			<a href="<%=adminName%>/access/add" class="layui-btn layui-btn-normal newsAdd_btn">增加权限</a>
		</div>
	</blockquote>
	<div class="layui-form news_list">
		<!-- <table id="table"></table> -->
		<div style="padding:0 10px ;">
			<div id="tableBox" style='width:100%;min-width: 880px;'>
				<table class="layui-table">
					<thead>
						<tr>
							<th>模块名称</th>
							<th>节点类型</th>
							<th>操作名称</th>
							<th>操作地址</th>
							<th>所属模块</th>
							<th>描述</th>
							<th>排序</th>
							<!-- <th>状态</th> -->
							<th lay-data="{width:180}">操作</th>
						</tr>
					</thead>
					<tbody>
						<%for(var i=0;i<list.length;i++){%>
							<tr>
								<td><%=list[i].module_name%></td>
								<td>
									<%if(list[i].type==1){%>
										模块
									<%}else if(list[i].type==2){%>
										菜单
									<%}else{%>
										操作
									<%}%>
								</td>
								<td><%=list[i].action_name%></td>
								<td><%=list[i].url%></td>
								<td>
									顶级模块
								</td>
								<td><%=list[i].description%></td>
								<td width='60'>
									<input type="text" style='width:50px;height:30px;' class="layui-input layui-input-sm change-btn" value="<%=list[i].sort%>" data-id="<%=list[i]._id%>">
								</td>
								<!-- <td>
									<input disabled type="checkbox" name='status' data-id="{{d._id}}" <%if(list[i].status==1){%>checked<%}%> lay-text="开|关" name="switch" lay-skin="switch">
								</td> -->
								<td width='120' style='text-align: center;'>
									<a href="<%=adminName%>/access/edit?id=<%=list[i]._id%>"  class="layui-btn layui-btn-sm" data-id='<%=list[i]._id%>'>编辑</a>
									<%if(list[i]._id=='5bbc832574786f5ef0fa3c05'){%>
									<%}else{%>
									<button class="layui-btn layui-btn-danger layui-btn-sm delete-btn" data-id='<%=list[i]._id%>'>删除</button>
									<%}%>
								</td>
							</tr>
							<%for(var j=0;j<list[i].children.length;j++){%>
								<tr style='padding-left:30px;'>
									<td>------<%=list[i].children[j].module_name%></td>
									<td>
										<%if(list[i].children[j].type==1){%>
											模块
										<%}else if(list[i].children[j].type==2){%>
											菜单
										<%}else{%>
											操作
										<%}%>
									</td>
									<td><%=list[i].children[j].action_name%></td>
									<td><%=list[i].children[j].url%></td>
									<td>
										<%=list[i].module_name%>
									</td>
									<td><%=list[i].children[j].description%></td>
									<td width='60'>
										<input type="text" style='width:50px;height:30px;' class="layui-input layui-input-sm change-btn" data-id="<%=list[i].children[j]._id%>" value="<%=list[i].children[j].sort%>">
									</td>
									<!-- <td>
										<input disabled type="checkbox" name='status' data-id="<%=list[i].children[j]._id%>" <%if(list[i].children[j].status==1){%>checked<%}%> lay-text="开|关" name="switch" lay-skin="switch">
									</td> -->
									<td width='120' style='text-align: center;'>
										<a href="<%=adminName%>/access/edit?id=<%=list[i].children[j]._id%>"  class="layui-btn layui-btn-sm" data-id='<%=list[i].children[j]._id%>'>编辑</a>
										<%if(list[i].children[j]._id=='5bbc83c64dbd416124c36998'||list[i].children[j]._id=='5bbc84044dbd416124c36999'||list[i].children[j]._id=='5bbcd461daac3d3ba0160bd4'){%>
										<%}else{%>
										<button class="layui-btn layui-btn-danger layui-btn-sm delete-btn" data-id='<%=list[i].children[j]._id%>'>删除</button>
										<%}%>
									</td>
								</tr>
								<%for(var k=0;k<list[i].children[j].children.length;k++){%>
									<tr style='padding-left:30px;'>
										<td>------------<%=list[i].children[j].children[k].module_name%></td>
										<td>
											<%if(list[i].children[j].children[k].type==1){%>
												模块
											<%}else if(list[i].children[j].children[k].type==2){%>
												菜单
											<%}else{%>
												操作
											<%}%>
										</td>
										<td><%=list[i].children[j].children[k].action_name%></td>
										<td><%=list[i].children[j].children[k].url%></td>
										<td>
											<%=list[i].children[j].module_name%>
										</td>
										<td><%=list[i].children[j].children[k].description%></td>
										<td width='60'>
											<input type="text" style='width:50px;height:30px;' class="layui-input layui-input-sm change-btn" data-id="<%=list[i].children[j].children[k]._id%>" value="<%=list[i].children[j].children[k].sort%>">
										</td>
										<!-- <td>
											<input disabled type="checkbox" name='status' data-id="<%=list[i].children[j].children[k]._id%>" <%if(list[i].children[j].children[k].status==1){%>checked<%}%> lay-text="开|关" name="switch" lay-skin="switch">
										</td> -->
										<td width='120' style='text-align: center;'>
											<a href="<%=adminName%>/access/edit?id=<%=list[i].children[j].children[k]._id%>"  class="layui-btn layui-btn-sm" data-id='<%=list[i].children[j].children[k]._id%>'>编辑</a>
											<button class="layui-btn layui-btn-danger layui-btn-sm delete-btn" data-id='<%=list[i].children[j].children[k]._id%>'>删除</button>	
										</td>
									</tr>
								<%}%>
							<%}%>
						<%}%>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script type="text/html" id="btnTpl">
		<a href="<%=adminName%>/manager/edit?id={{d._id}}"  class="layui-btn layui-btn-sm" data-id='{{d._id}}'>编辑</a>
		<button class="layui-btn layui-btn-danger layui-btn-sm delete-btn" data-id='{{d._id}}'>删除</button>
	</script>
	<script type="text/html" id="switchTpl">
		<input disabled type="checkbox" name='status' data-id="{{d._id}}" {{d.status==1?'checked':''}} lay-text="开|关" name="switch" lay-skin="switch">
	</script>
	<script type="text/javascript" src="/public/admin/layui/layui.js"></script>
	<script type="text/javascript" src="/public/admin/js/index.js"></script>
	<script type="text/javascript" src="/public/admin/js/util.js"></script>
	<script>
		layui.use(['form','layer','jquery','table'],function(){
			var form = layui.form,
				layer =layui.layer,
				table = layui.table,
				$ = layui.jquery;
			$(window).on('resize',function(){
				let w = $('#tableBox').width();
				if(w<880){
					$('.layui-table').width(1100);
				}else{
					$('.layui-table').width('100%');
				}
			})
			//删除操作
			$('.delete-btn').on('click',function(){
				var id = $(this).attr('data-id');
				// alert(id);
				layer.confirm('是否删除该权限？',{
					title:'警告',
					content:'是否删除该权限？',
					btn: ['确认', '取消'], //可以无限个按钮
				}, function(index, layero){
					var url = '<%=adminName%>/access/delete';
					var params = {
						model:'Access',
						id:id
					}
					//删除
					reqAjax.delete('get', url, params, "<%=adminName%>/access");

				}, function(index){console.log('取消删除')});
			})
			//修改排序
			$('.change-btn').on('blur',function(){
				var id = $(this).attr('data-id');
				var val = $(this).val();
				if(val==''){
					layer.msg('请输入排序');
					$(this).focus();
					return;
				}
				var url = '<%=adminName%>/access/change';
				var params = {
					model:'Access',
					attr:'sort',
					value:val,
					id:id
				}
				//改变
				reqAjax.change('get', url, params)
			})
		})

	</script>
</body>
</html>
